In [1]:
import main as app

app.main()

Insira o valor Financiado: 200000
Insira a taxa de juros: 7.4
Insira o prazo para pagamento: 360
Caso queira amortizar adicionalmente, insira a media mensal: 2500

     Parcela Amortização Amortização adicional     Juros Saldo Devedor
1   1.788,89      555,56              2.500,00  1.233,33    196.944,44
2   1.770,05      555,56              2.500,00  1.214,49    193.888,89
3   1.751,20      555,56              2.500,00  1.195,65    190.833,33
4   1.732,36      555,56              2.500,00  1.176,81    187.777,78
5   1.713,52      555,56              2.500,00  1.157,96    184.722,22
..       ...         ...                   ...       ...           ...
62    639,49      555,56              2.500,00     83,94     10.555,56
63    620,65      555,56              2.500,00     65,09      7.500,00
64    601,81      555,56              2.500,00     46,25      4.444,44
65    582,96      555,56              2.500,00     27,41      1.388,89
66    564,12      555,56                833,33      8,56          0,00

[66 rows x 5 columns]